/ Get the javascript to work
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
/ Latest compiled and minified CSS
%link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}
/ Optional theme
%link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", :integrity => "sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", :rel => "stylesheet"}
/ Latest compiled and minified JavaScript
%script{:crossorigin => "anonymous", :integrity => "sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}
/ dashboard CSS
%link{:href => "/css/dashboard.css", :rel => "stylesheet"}

/= "A Visualization Tool for Depression Prediction Results"
/= "We are now using this API: #{@api_url}"
!!! 5
%html
%head
  %title MDDAT - Understanding Mental Disorder Detection
%body
  .panel.panel-default
    .panel-body
      .row{:style => "margin-left: 20px"}
        .col-md-12
          .text-center
            %img{:src=>"/idealab.jpg", :height => "100", :width => "100"}
        .col-md-12
          .text-center
            %h1
              Mental Disorder Detection and Analysis on Twitter
            %h2
              Compare two twitter users of your choice

        .col-md-12
          %form{:action => "/compare", :method => "get"}
            .col-md-6
              .row
                .col-md-12.header.sample1
                  %h2.text-center
                    Sample 1:
                .col-md-8.col-md-offset-2
                  .input-group
                    %span.input-group-addon
                      %input{:type => "radio", :name => "sample1radio", :value => "username"}
                    %span#sizing-addon1.input-group-addon @
                    %input{:name => "username1", :type => "input", :placeholder => "username", :class => "form-control"}
                  %br
                  .input-group
                    %span.input-group-addon
                      %input{:type => "radio", :name => "sample1radio",:checked => "checked", :value => "bd"}
                    %input{:placeholder => "Bipolar Disorder Patient", :class => "form-control", :readonly => ''}
                  %br
                  .input-group
                    %span.input-group-addon
                      %input{:type => "radio", :name => "sample1radio", :value => "bpd"}
                    %input{:placeholder => "Borderline Personality Disorder Patient", :class => "form-control", :readonly => ''}
            .col-md-6
              .row
                .col-md-12.header.sample2
                  %h2.text-center
                    Sample 2:
                .col-md-8.col-md-offset-2
                  .input-group
                    %span.input-group-addon
                      %input{:type => "radio", :name => "sample2radio", :value => "username"}
                    %span#sizing-addon1.input-group-addon @
                    %input{:name => "username2", :type => "input", :placeholder => "username", :class => "form-control"}
                  %br
                  .input-group
                    %span.input-group-addon
                      %input{:type => "radio", :name => "sample2radio", :value => "bd"}
                    %input{:placeholder => "Bipolar Disorder Patient", :class => "form-control", :readonly => ''}
                  %br
                  .input-group
                    %span.input-group-addon
                      %input{:type => "radio", :name => "sample2radio", :value => "bpd", :checked => "checked"}
                    %input{:placeholder => "Borderline Personality Disorder Patient", :class => "form-control", :readonly => ''}
            .col-md-12
              %br
              %br
              .text-center
                %button.btn.btn-lg.btn-primary{:type => "submit"}
                  Compare

        %br
        %br
        .col-md-12
          %br
          %br
          %br
          .text-center
            = "Brought to you by "
            %a{:href => "https://idea.cs.nthu.edu.tw/"}
              = "IDEA Lab @2016"
