.entity {
  color: #535353;
}
.entity label {
  font-size: 18px;
}
.entity figure {
  font-size: 56px;
}
.entity unity {
  color: #424242;
  font-size: 12px;
}

.header {
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #c9c9ff;
}
