.age-font {
  font-size: 25px;
  color: #FF8000;
}

.male-font {
  font-size: 25px;
  color: #01A9DB;
}

.female-font {
  font-size: 25px;
  color: #FE2EF7;
}

.friends-font {
  font-size: 25px;
  color: #01DF01;
}